{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Customers{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Customers</h1>
        {% if customers %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Customer Number</th>
                  <th width="30%"> Customer Name</th>
                  <th width="30%"> Contact Name</th>
                  <th width="30%"> Sales Rep. Emp Num.</th>
                </tr>
              </thead>
              <tbody>
              {% for customer in customers %}
		<tr>
		  <td> {{ customer.customerNumber}} </td>
		  <td> {{ customer.customerName}} </td>
		  <td> {{ customer.contactFirstName}} {{ customer.contactLastName }} </td>
		  <td> {{ customer.salesRepEmployeeNumber}} </td>
		</tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

