{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Employees{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Employees</h1>
        {% if employees %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Emp Num</th>
                  <th width="30%"> Name</th>
                  <th width="30%"> Email</th>
                  <th width="30%"> Job Title</th>
                  <th width="30%"> Reports To</th>
                  <th width="30%"> Office Extn</th>
                  <th width="30%"> Office Code</th>
                  <th width="30%"> Department</th>
                </tr>
              </thead>
              <tbody>
              {% for employee in employees %}
		<tr>
		  <td> {{ employee.employeeNumber }} </td>
		  <td> {{ employee.first_name }} {{ employee.last_name }} </td>
		  <td> {{ employee.email }} </td>
		  <td> {{ employee.jobTitle}} </td>
		  <td> {{ employee.reportsTo}} </td>
		  <td> {{ employee.extension}} </td>
		  <td> {{ employee.officeCode}} </td>
		  <td> {{ employee.group}} </td>
		</tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

